@model IEnumerable<Codesweaver.Models.Sliders>

@{
    ViewData["Title"] = "Index";

}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.willshown)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @{
                        if (item.Image != null)
                        {
                            string b64 = Convert.ToBase64String(item.Image);
                            var pimage = String.Format("data:image/png; base64, {0}", b64);
                            <img src="@pimage" width="100px;" alt="No Image" />
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.willshown)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
